.env
node_modules
server/images
public/bundle.js
styles/components
styles/styles.css.map
styles/styles.scss
dimensions.pem
dimensions-project-370000-342c9db504d1.json
styles/styles.css.map
styles/styles.css