.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px 20px;
}

.gallery-container {
  width: 400px;
  height: 300px;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}
.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery-item .image img {
  border: 10px;
  border-radius: 80px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.gallery-item .text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: white;
  pointer-events: none;
  z-index: 2;
  transition: 0.3s ease-in-out;
}
.gallery-item:hover .image img {
  border: 10px;
  border-radius: 80px;
  transform: scale(1.5);
}
.gallery-item:hover .text {
  opacity: 1;
  -webkit-animation: move-down 0.3s linear;
          animation: move-down 0.3s linear;
  padding: 1em;
  width: 100%;
}

@-webkit-keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}

@keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}
/* alternate universe button*/
.alternate {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.alternate:active,
.alternate:focus {
  outline: none;
}

.alternate:hover {
  background-position: -20px -20px;
}

.alternate:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.modal img {
  width: 100%;
  height: 100%;
}
.modal ul {
  position: relative;
  right: 20px;
  list-style-type: none;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

body {
  margin: 20px;
  padding: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  background-image: linear-gradient(to bottom right, rgb(174, 183, 183), rgba(60, 60, 64, 0.999));
  background-attachment: fixed;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;
  box-sizing: border-box;
  font-size: 4vw;
  font-style: italic;
  color: rgb(5, 226, 251);
  -webkit-text-stroke: 2px rgb(0, 34, 255);
  text-transform: uppercase;
}
.title ::before {
  content: attr;
}

/* CSS */
.upload-button {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: rgb(30, 233, 240);
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  -webkit-text-stroke: 0px;
}

.upload-button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
  -webkit-text-stroke: 0px;
}

.upload-button:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset, rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .upload-button {
    padding: 16px 48px;
  }
}/*# sourceMappingURL=styles.css.map */